name: cd

on:
    push:
        tags:
        -   'v[0-9]+.[0-9]+.[0-9]+*'

jobs:

    validate-release-tag:

        if: github.repository == 'aiida-phonopy/aiida-phonopy'
        runs-on: ubuntu-latest

        steps:
        -   name: Checkout source
            uses: actions/checkout@v4

        -   name: Set up Python 3.10
            uses: actions/setup-python@v2
            with:
                python-version: '3.10'

        -   name: Validate the tag version against the package version
            run: python .github/workflows/validate_release_tag.py $GITHUB_REF

    pre-commit:

        needs: [validate-release-tag]
        runs-on: ubuntu-latest

        steps:
        -   uses: actions/checkout@v4

        -   name: Cache Python dependencies
            uses: actions/cache@v4
            with:
                path: ~/.cache/pip
                key: pip-pre-commit-${{ hashFiles('**/setup.json') }}
                restore-keys:
                    pip-pre-commit-

        -   name: Set up Python
            uses: actions/setup-python@v2
            with:
                python-version: '3.10'

        -   name: Install Python dependencies
            run: pip install -e .[pre-commit,tests]

        -   name: Run pre-commit
            run: pre-commit run --all-files || ( git status --short ; git diff ; exit 1 )

    tests:

        needs: [validate-release-tag]

        runs-on: ubuntu-latest

        strategy:
            matrix:
                python-version: ['3.10', '3.11', '3.12']

        defaults:
            run:
                shell: bash -l {0}

        services:
            rabbitmq:
                image: rabbitmq:latest
                ports:
                -   5672:5672

        steps:
        -   uses: actions/checkout@v4

        -   name: Cache Python dependencies
            uses: actions/cache@v4
            with:
                path: ~/.cache/pip
                key: pip-${{ matrix.python-version }}-tests-${{ hashFiles('**/setup.json') }}
                restore-keys:
                    pip-${{ matrix.python-version }}-tests

        -   name: Setup Conda
            uses: conda-incubator/setup-miniconda@v3
            with:
                python-version: ${{ matrix.python-version }}
                channels: conda-forge
                auto-activate-base: true

        -   name: Set up Phonopy # ${{ matrix.phonopy-version }}
            run: conda install -y phonopy

        -   name: Install Python dependencies
            run: pip install -e .[tests]

        -   name: Run pytest
            run: pytest -sv tests

    publish:

        name: Publish to PyPI
        needs: [pre-commit, tests]
        runs-on: ubuntu-latest

        steps:
        -   name: Checkout source
            uses: actions/checkout@v4

        -   name: Set up Python 3.10
            uses: actions/setup-python@v2
            with:
                python-version: '3.10'

        -   name: Install flit
            run: pip install flit~=3.4

        # -   name: Build and publish to TestPyPI
        #     run: flit publish --repository https://test.pypi.org/legacy/
        #     env:
        #         FLIT_USERNAME: __token__
        #         FLIT_PASSWORD: ${{ secrets.TEST_PYPI_API_TOKEN }}

        -   name: Build and publish
            run: flit publish
            env:
                FLIT_USERNAME: __token__
                FLIT_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
