name: ci

on: [push, pull_request]

jobs:

    pre-commit:

        runs-on: ubuntu-latest

        steps:
        -   uses: actions/checkout@v4

        -   name: Cache python dependencies
            id: cache-pip
            uses: actions/cache@v4
            with:
                path: ~/.cache/pip
                key: pip-pre-commit-${{ hashFiles('**/setup.json') }}
                restore-keys:
                    pip-pre-commit-

        -   name: Set up Python
            uses: actions/setup-python@v2
            with:
                python-version: '3.9'

        -   name: Install python dependencies
            run: pip install -e .[pre-commit,tests]

        -   name: Run pre-commit
            run: pre-commit run --all-files || ( git status --short ; git diff ; exit 1 )

    tests:

        runs-on: ubuntu-latest

        strategy:
            fail-fast: false
            matrix:
                include:
                -   python-version: '3.9'
                -   python-version: '3.12'

        services:
            rabbitmq:
                image: rabbitmq:latest
                ports:
                -   5672:5672

        steps:
        -   uses: actions/checkout@v4

        -   name: Cache python dependencies
            id: cache-pip
            uses: actions/cache@v4
            with:
                path: ~/.cache/pip
                key: pip-${{ matrix.python-version }}-tests-${{ hashFiles('**/setup.json') }}
                restore-keys:
                    pip-${{ matrix.python-version }}-tests

        -   name: Setup Conda
            uses: conda-incubator/setup-miniconda@v3
            with:
                python-version: ${{ matrix.python-version }}
                channels: conda-forge
                auto-activate-base: true

        -   name: Set up Phonopy # ${{ matrix.phonopy-version }}
            run: conda install -y phonopy

        # -   name: Set up Phonopy ${{ matrix.phonopy-version }}
        #     run: pip install phonopy==${{ matrix.phonopy-version }}

        -   name: Install python dependencies
            run: pip install -e .[tests]

        -   name: Run pytest
            env:
                AIIDA_WARN_v3: 1
            run: pytest -sv --cov aiida_phonopy tests

        -   name: Upload to Codecov
            if: matrix.python-version == 3.12
            uses: codecov/codecov-action@v3
            with:
                token: ${{ secrets.CODECOV_TOKEN }}
                name: pytests-phonopy3.10
                flags: pytests
                fail_ci_if_error: true
